In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.keras import layers
import matplotlib.pyplot as plt
from sklearn.model_selection import ParameterGrid

In [4]:
df = pd.read_excel('RJ_Reconstrucao_Moluscos_2024_06_06.xlsx')
print(df.head())

    Ano  Lula_art  Lula_ind  Lula_art_ind  Lula_oceanica_art  Calamar_ind  \
0  1950       NaN       NaN           NaN                NaN          NaN
1  1951       NaN       NaN           NaN                NaN          NaN
2  1952       NaN       NaN           NaN                NaN          NaN
3  1953       NaN       NaN           NaN                NaN          NaN
4  1954       NaN       NaN           NaN                NaN          NaN

   Polvo_art  Polvo_ind  Polvo_art_ind  Polvo_cabecinha_art  ...  \
0        NaN        NaN            NaN                  NaN  ...
1        NaN        NaN            NaN                  NaN  ...
2        NaN        NaN            NaN                  NaN  ...
3        NaN        NaN            NaN                  NaN  ...
4        NaN        NaN            NaN                  NaN  ...

   Mexilhao_art  Mexilhao_ind  Mexilhao_mangue_art  Caramujo_art  \
0           NaN           NaN                  NaN           NaN
1           NaN           NaN                  NaN           NaN
2           NaN           NaN                  NaN           NaN
3           NaN           NaN                  NaN           NaN
4           NaN           NaN                  NaN           NaN

   Caramujo_ind  Vieira_ind  Berbigao_art  Vongole_art  TOTAL_MOLLUSCS  \
0           NaN         NaN           NaN          NaN             NaN
1           NaN         NaN           NaN          NaN             NaN
2           NaN         NaN           NaN          NaN             NaN
3           NaN         NaN           NaN          NaN             NaN
4           NaN         NaN           NaN          NaN             NaN

   TOTAL_GROUPS_F&M
0           28137.0
1           27432.0
2           26648.0
3           24552.0
4           22755.0

[5 rows x 22 columns]

In [ ]:
x0 = df[['Ano', 'Lula_art']].dropna().values
x1 = df[['Ano', 'Lula_ind']].dropna().values